body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
  }
  .back-arrow {
    position: fixed;
    top: 50px; 
    right: 1500px;
    font-size: 1.5rem; 
    color: #c7a008;
    background-color: white;
    padding: 5px 10px;
    border-radius: 10%;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 1000;
  }
  
  .back-arrow:hover {
    background-color: #c7a008;
    color: white;
  }
  
  @media (max-width: 400px) {
    .back-arrow {
     position: fixed;
      top: 20px;
      left: 20px; 
      font-size: 1.2rem;
      padding: 4px 8px;
    }
  }
  .catalog-title {
    text-align: center;
    margin-top: 60px;
    font-weight: 700;
  }

  .card {
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .card-img-top {
    height: 450px;
    object-fit: cover;
    filter: brightness(70%);
    transition: filter 0.3s ease;
  }

  .card-img-top:hover {
    filter: brightness(100%);
  }

  .card-body {
    text-align: center;
  }

  .price {
    font-weight: bold;
    color: #b08d57; 
    font-size: 1.1rem;
  }

  @media (max-width: 576px) {
    .card-img-top {
      height: 200px;
    }
  }